<div class="container p-4" style="position: relative;margin: 50px auto;">
    <div class="row align-item-center text-white">
        <div class="col-12 text-center mb-4">
            <span class="h2 display-4 mb-4 d-block">Who We Are!</span>
            <span class="d-block h5 my-3">
                Drizly is the world's largest alcohol marketplace and the best way to shop beer, wine and spirits. Our
                customers trust us to be part of their lives – their celebrations, parties, dinners and quiet nights at
                home. We are there when it matters - committed to life's moments and the people who create them. We
                partner with the best retail stores in over 100 cities across North America to serve up the best buying
                experience. Drizly offers a huge selection and competitive pricing with a side of personalized content.
            </span>
        </div>
        <div class="col-12 text-center">
            <span class="h2 display-4 mb-4 d-block">Our Values!</span>
        </div>
        <div class="col-sm-6 text-center">
            <span class="d-block h5 my-3"><strong>We care.</strong></span>
            <span class="d-block h5 my-3">We care for our people - our customers and those inthe industry. We are
                committed to being there when it matters. Sometimes that means long days and incredible challenges, and
                we also care about each other.</span>
        </div>
        <div class="col-sm-6 text-center">
            <span class="d-block h5 my-3"><strong>We solve it.</strong></span>
            <span class="d-block h5 my-3">There is an intellectual curiosity that exists here. We have a desire to
                question, to understand, to figure it out. We value the process to get to the truth, to deliberate,
                decide and act. Bottom line, we solve it.</span>
        </div>
    </div>
</div>