<div class="container-fluid p-4" *ngIf="user && user.role === 'admin'">

    <router-outlet></router-outlet>

    <!-- <div class="row">
        <div class="col-sm-6 p-2">
            <div class="bg-light text-center text-dark mx-auto my-2 p-4" style="max-width: 500px; min-height: 300px;">
                <div class="center">
                    <h2 class="h2"> Want to add new Fabric?</h2>
                    <button class="m-2 btn btn-primary btn-lg" type="button" (click)="addProduct()">add Fabric!</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-2">
            <div class="bg-light text-center text-dark mx-auto my-2 p-4" style="max-width: 500px; min-height: 300px;">
                <div class="center">
                    <h2 class="h2"> Want to manage Fabric?</h2>
                    <button class="m-2 btn btn-primary btn-lg" type="button" (click)="updateProduct()">manage Fabric!</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-2">
            <div class="bg-light text-center text-dark mx-auto my-2 p-4" style="max-width: 500px; min-height: 300px;">
                <div class="center">
                    <h2 class="h2"> Want to manage Users?</h2>
                    <button class="m-2 btn btn-primary btn-lg" type="button" (click)="manageUser()">manage user!</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-2">
            <div class="bg-light text-center text-dark mx-auto my-2 p-4" style="max-width: 500px; min-height: 300px;">
                <div class="center">
                    <h2 class="h2"> Want to manage Orders?</h2>
                    <button class="m-2 btn btn-primary btn-lg" type="button" (click)="manageOrder()">manage Orders!</button>
                </div>
            </div>
        </div>
    </div> -->

</div>
