<div class="d-block mx-auto py-2">
    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && submit()" class="d-block form-custom s-light" style="max-width: 450px;">
        <h2 class="h2 text-center mb-4">Signin</h2>
        <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" >
            <small *ngIf="loginFormControl.email.invalid && (loginFormControl.email.touched && loginFormControl.email.dirty)" class="form-text text-muted text-white">Enter a valid email !</small>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Password" >
            <small *ngIf="loginFormControl.password.invalid && (loginFormControl.password.touched && loginFormControl.password.dirty)" class="form-text text-muted text-white">Min length 6, Max length 20 and must be alpha numeric</small>
        </div>
        <div class="text-center mb-3">
            <div *ngIf="message;else spinner" >
                <h5 class="h5 my-2 text-center">
                    {{message}}
                </h5>
                <button type="submit" class="btn btn-secondary w-100" [disabled]="loginForm.invalid">Sign In</button>
            </div>
            <ng-template #spinner>
                <div class="spinner-border text-white" role="status">
                </div>
            </ng-template>
        </div>
        <div class="text-center my-2">
            <span class="d-block my-2 text-white mb-3">OR</span>
            <span class="btn btn-light btn-block" [routerLink]="['/signup']">Sign Up</span>
        </div>
    </form>
</div>